.cy-pull-left {
	float: left;
	display: inline;
}
.pull-right {
	float: right;
}
.cy-hide {
	display: none;
}
.cy-show {
	display: block;
}
.cy-add {
	margin-top: 8px;
	margin-right: 16px;
}
#content {
	width: 1170px;
	margin: auto;
}